@page "/clientsCreatedPerDate"
@inject IHttpClientFactory clientFactory

<PageTitle>Clients</PageTitle>

<h1>Clients Analysis</h1>

<p>Table shows the Number of Clients created per Date</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Number of Clients Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var date in data.Keys)
            {
                <tr>
                    <td>@date.ToString()</td>
                    <td>@data[date]</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private HttpClient httpClient = new();

    private Dictionary<DateOnly, int>? data;

    protected override async Task OnInitializedAsync()
    {
        httpClient = clientFactory.CreateClient(name: "Clients.WebApi");
        HttpRequestMessage request = new(
    method: HttpMethod.Get, requestUri: "api/clientsCreatedPerDate");
        HttpResponseMessage response = await httpClient.SendAsync(request);
        data = await response.Content.ReadFromJsonAsync<Dictionary<DateOnly, int>>();

    }

   
}
